@import 'variables';

@mixin menu {
    position: absolute;
    z-index: 100;

    display: grid;
    gap: 10px;

    border-radius: 10px;
    border-color: black;

    border-width: 2px;
    border-style: solid;

    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 10px;

    background-color: $secondarycolor
}

.contextMenu {
    @include menu
}

@keyframes floatInContext {
    0% {
        margin-top: 100%;
        margin-left: 100%;

        transform: scale(3)
    }
    100% {
        margin-top: 0%;
        margin-left: 0%;

        transform: scale(1)
    }
  }
  

.contextMenu[inview="1"] {
    @include menu;
    animation-name: floatInContext; 
    animation-duration: 500ms;
}

.contextItem {
    color: rgb(200,200,200);
    z-index: 101;

    display: grid;

    border-style: none;
    text-align: left;

    background-color: $secondarycolor
}

.contextShortcut {
    position: relative;
    grid-row: 1;
    
    width: 100%;
    text-align: right;

    margin-right: 5px;
    margin-left: 10px;

    margin-top: 0px
}

.contextTitle {
    position: relative;
    color: inherit;
    
    grid-row: 1;
    width: 100%;

    margin-left: 0px;
}

.contextTitle:hover {
    color: rgb(200,200,200) * 0.9;
    transform: scale(0.9);

    transition-duration: 100ms;
}

.contextTitle:active {
    color: rgb(200,200,200) * 0.8;
    transform: scale(0.8);
    
    transition-duration: 100ms;
}

.contextMenuSeparator {
    width: 100%;
    height: 1px;

    border-radius: 2px;
    background-color: black
}
