@import 'variables';

div {
  color: $primarycolor;
  font: $font;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

button {
  -webkit-user-select: none;
  user-select: none;
}

.topBar {
  background-color: $secondarycolor;
  position: absolute;
  -webkit-app-region: drag;

  left: 0px;
  top: 0px;
  // -webkit-app-region: no-drag;

  height: 25px;
  width: 100%;
}
  
@function contentGrad($degs) {
  @return repeating-linear-gradient($degs, $secondarycolor 0px, transparent 1px, transparent 100%)
}

.contentGrid {
  position: absolute;
  top: 25px;
  left: 0px;

  height: calc(100% - 25px);
  width: 100%;

  z-index: -100;
  background-image: (contentGrad(90deg), contentGrad(0deg));

  background-position-x: 0px;
  background-position-y: 0px;

  background-size: 25px 25px;
  background-color: transparent
}

.connectionBarLabel {
  position: absolute;
  border-style: none;

  text-overflow: ellipsis;
  
  background-color: transparent;
  color: white;

  height: 20px;
  width: 100%;
  -webkit-app-region: no-drag;

  top: 2.5px;
  left: 0px
}

.connectionBarLabel:hover {
  color: white * 0.8;
  transform: scale(0.9);
  
  transition-duration: 50ms;
}

.connectionBarLabel:active {
  color: white * 0.6;
  transform: scale(0.8);

  transition-duration: 50ms;
}

.tabsBar {
  position: absolute;

  z-index: 100;
  width: 100%;
  height: 20px;

  top: 25px;
  left: 0px;

  background-color: $primarycolor * 0.6
}