/* line 27, ../sass/node.scss */
div .nodeBack {
  position: absolute;
  min-width: 100px;
  gap: 5px;
  display: grid;
  flex-basis: 1;
  flex-grow: auto;
  height: min-content;
  width: min-content;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  background-color: #646464;
  border-color: black;
}

/* line 32, ../sass/node.scss */
div [isselected="1"] {
  position: absolute;
  min-width: 100px;
  gap: 5px;
  display: grid;
  flex-basis: 1;
  flex-grow: auto;
  height: min-content;
  width: min-content;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  background-color: #646464;
  border-color: #93bbc9;
}

/* line 42, ../sass/node.scss */
.inputTitle {
  color: white;
  font-size: small;
}

/* line 46, ../sass/node.scss */
.inputTitle[inline="true"] {
  color: white;
  font-size: small;
  position: relative;
  width: max-content;
  left: 20px;
  top: -12.5px;
}

/* line 84, ../sass/node.scss */
.addPathProperty {
  padding: 4px;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  color: black;
  transition-duration: 150ms;
}

/* line 88, ../sass/node.scss */
.addPathProperty:hover {
  background-color: darkgrey;
  transition-duration: 150ms;
  transform: scale(0.9);
}

/* line 93, ../sass/node.scss */
.removePathProperty:active {
  background-color: grey;
  transition-duration: 150ms;
  transform: scale(0.8);
}

/* line 97, ../sass/node.scss */
.removePathProperty {
  padding: 4px;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  color: black;
  transition-duration: 150ms;
  font-size: xx-small;
  width: 20px;
  height: 20px;
  position: relative;
  right: 0px;
}

/* line 108, ../sass/node.scss */
.removePathProperty:hover {
  background-color: darkgrey;
  transition-duration: 150ms;
  transform: scale(0.9);
}

/* line 112, ../sass/node.scss */
.removePathProperty:active {
  background-color: grey;
  transition-duration: 150ms;
  transform: scale(0.8);
}

/* line 116, ../sass/node.scss */
.pathProperty {
  background-color: transparent;
  width: max-content;
  overflow: visible;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

/* line 130, ../sass/node.scss */
.connectionInProperty {
  position: absolute;
  border-style: ridge;
  border-color: black;
  border-radius: 7.5px;
  margin-top: 2.25px;
  margin-left: -11px;
  height: 15px;
  width: 15px;
}

/* line 144, ../sass/node.scss */
.propertySelect {
  width: max-content;
  border-radius: 3px;
  height: 18.5px;
  margin-right: 6px;
  outline: none;
}

/* line 152, ../sass/node.scss */
.propertySelectOption {
  color: black;
}

/* line 170, ../sass/node.scss */
.inputField {
  border-radius: 5px;
  border-style: solid;
  grid-row: 2;
  margin-left: -4px;
  border-width: 1px;
  outline: none;
  width: calc(100% - 7.5px);
  height: 20px;
}

/* line 175, ../sass/node.scss */
.inputField[inline="true"] {
  border-radius: 5px;
  border-style: solid;
  grid-row: 2;
  margin-left: -4px;
  border-width: 1px;
  outline: none;
  width: calc(100% - 7.5px);
  height: 20px;
}

/* line 180, ../sass/node.scss */
.field {
  border-radius: 5px;
  border-style: solid;
  grid-row: 2;
  margin-left: -4px;
  border-width: 1px;
  outline: none;
  width: calc(100% - 7.5px);
  height: 20px;
  width: 100%;
  height: 100%;
}

/* line 187, ../sass/node.scss */
.progressTimeInput {
  border-width: 2px;
  border-style: solid;
  grid-row: 2;
  border-color: black;
  border-radius: 5px;
  position: relative;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

/* line 203, ../sass/node.scss */
.progressTimeInput:first-of-type {
  margin-left: 2px !important;
}

@keyframes progressBarLoopTest {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
/* line 226, ../sass/node.scss */
.valuePropertyProgressBarHolder {
  position: relative;
  top: 2px;
  grid-row: 3;
  height: 2px;
  width: 100%;
}

/* line 230, ../sass/node.scss */
.valuePropertyProgressBar {
  position: relative;
  top: 2px;
  grid-row: 3;
  height: 2px;
  width: 100%;
  border-radius: 3px;
  top: 0px;
  animation-name: progressBarLoopTest !important;
  animation: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-duration: 1s;
  left: -100%;
  background-image: linear-gradient(90deg, blue 50%, red 50%, red 100%);
}
